<p>authorization works!</p>
<div class="autorize-form">
  <form action="" class="autorize-case">
    <h1>Авторизация</h1>
    <div>
      <input type="" required placeholder="Логин" class="login" />
    </div>
    <div>
      <input type="password" required placeholder="Пароль" class="pass" />
    </div>
    <div class="remember">
      <p>
        <input type="checkbox" />
        Запомнить меня
      </p>
    </div>
    <div class="">
      <button class="login-button">
        <p class="login-text">
          <b>LOGIN</b>
        </p>
      </button>
    </div>
    <div class="reg">
      <a href="" class="link-reg-rec">Регистрация</a>
    </div>
    <div class="reg">
      <a href="" class="link-reg-rec">Забыли логин/пароль?</a>
    </div>
  </form>
</div>
<footer class="footer">
  <p>
    Пока что тут есть какой-то футер. Он видит, что ему тут не рады.
    Sirius(какой-то там)&copy;
  </p>
</footer>
