<!-- eslint-disable prettier/prettier -->
<div class="autorize-form">
  <form action="" class="autorize-form--case">
    <h1>Авторизация</h1>
    <div>
      <input type="" required placeholder="Логин" class="authorize-input" />
    </div>
    <div>
      <input
        type="password"
        required
        placeholder="Пароль"
        class="authorize-input"
      />
    </div>
    <div class="remember">
      <p>
        <input type="checkbox" />
        Запомнить меня
      </p>
    </div>
    <div class="">
      <button class="login-button">
        <p class="login-text">
          <b>LOGIN</b>
        </p>
      </button>
    </div>
    <div class="reg-box">
      <a href="" class="reg-box--link">Регистрация</a>
    </div>
    <div class="reg-box">
      <a href="" class="reg-box--link">Забыли логин/пароль?</a>
    </div>
  </form>
</div>
<footer class="footer">
  <p>
    Пока что тут есть какой-то футер. Он видит, что ему тут не рады.
    Sirius(какой-то там)&copy;
  </p>
</footer>
